body {
  background-color: #222;
  text-align: center;
  font-family: sans-serif;
}

.cell {
  fill: brown;
}

#x-axis,
#y-axis {
  font-size: 14px;
  color: white;
}

#title {
  font-size: 28px;
  fill: white;
  transform: translateX(-90px);
}

#description {
  font-size: 22px;
  fill: white;
  transform: translateX(-10px);
}

#legend .tick text {
  font-size: 14px;
}

#tooltip {
  background-color: rgba(100, 100, 100, .95);
  color: white;
  padding: 10px 25px;
  display: none;
  border-radius: 5px;
  text-align: left;
  position: absolute;
  top: 0;
  left: 0;
}

#tooltip > div {
  margin-bottom: 3px;
}
